/* regole generali */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* sfondo header + pattern */
.blue_bg {
	height: 100px;
	background-color: #4EA1FF;
	background-image: url(./img/pattern.png);
	background-size: 300px;
	margin-bottom: 15px;
}

/* descrizione h1*/
.text-gray {
	color: gray;
}

.small-text {
	font-size: 14px;
}

#author {
	color: cornflowerblue;
}

/* regole container intera pagina */
.container {
	width: 800px;
	margin: 0 auto;
}

/* logo the booleaner */
#logo {
	height: 50px;
	margin-top: 35px;
}

/* --------- TABELLA --------- */

/* spacing tabella */
table {
	border-spacing: 0;
}

/* allineamento ul al container */
ul {
	padding-left: 20px;
}

/* header tabella */
thead {
	color: white;
	background-color: #4FAAE6;
}

/* sfondo riga tabella */
.tab-blue-bg {
	background-color: #B0E5F0;
}

/* volume tabelle */
td {
	padding: 10px;
}

/* footer */

/* margine superiore */
.margin {
	margin-top: 15px;
}

/* immagini */
.pictures {
	position: relative;
	width: 70%;
}

.pictures {
	width: 50%;
	display: block;
}

/* testo fluttuante */
.overlay-text {
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}