* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

.blu_bg {
	height: 100px;
	background-color: #4EA1FF;
	background-image: url(./img/pattern.png);
	background-size: 300px;
}

.container {
	width: 800px;
	margin: 0 auto;
}

#logo {
	height: 50px;
	margin-top: 35px;
}